/* COMMON CASES */

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Common utility cases */

.logo img, 
.logo-footer img{
    height: 120px;
    width: 120px;
}

.buscador{
    width: auto;
    border-radius: 21px;
}

.buscador:hover{
    border: 1px solid black;
}

.buscador:hover > .buscador-input {
    width: 240px;
    padding: 0 6px;
}

.buscador:hover > .buscador-btn {
    background: white;
    color : #2f3640;
}

.buscador-input {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 1.5s ease;
    line-height: 40px;
    width: 0px;
}

.buscador-btn {
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #a3d3a3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s ease;
    margin: 2px;
}

.btn-1 {
    height: 3rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0C3157;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(50, 57, 50, 0.35);
}

.btn-2 {
    height: 3rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E02D1A;
    background: #0C3157;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(50, 57, 50, 0.35);
}

.btn-2 a{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Header */

#header{
    height: auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-buscador{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav ul{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

.nav a{
    text-decoration: none;
    color: #0C3157;
    line-height: 24px;
}

.nav-mobile{
    display: none;
}

.btn{
    width: 15%;
    display: flex;
    justify-content: right;
    align-items: center;
}

/* Footer */

#footer{
    height: 148px;
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 16px;
    box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
    background: #0C3157;
}

.logo-footer{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicios-footer{
    width: 30%;
    text-align: center;
    margin-top: 1rem;
}

.legal-footer{
    width: 30%;
    text-align: center;
    margin-top: 1rem;
}

.servicios-footer h3,
.legal-footer h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.servicios-footer p,
.legal-footer p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    margin-top: 0.5rem;
}

.servicios-footer a,
.legal-footer a{
    text-decoration: none;
}

/* Perfil */

.breadcrumbs span{
    font-size: 16px;
}

.cuenta{
    justify-content: center;
}

.contenido-cuenta{
    display: flex;
    justify-content: center;
}

.photo-noticia{
    justify-content: left;
}